body {
      background-color : #EAF6F6;
}

hr {
      height: 0px;
      width: 70px;
      border: grey dotted 5px;
      border-style: dotted none none;
}
img {
  height : 120px;
  width : 120px;
}

h1{
    color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

.circular {
  border-radius: 100%;
}
